@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Error content start -->
<section class="article">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hgroup>
                    <h1>Lỗi rồi.</h1>
                    <h2>Đã xảy ra lỗi trong khi xử lý yêu cầu của bạn.</h2>
                </hgroup>

            </div>
        </div>
    </div>
</section>
<!-- Error content end -->